version: '3'

services:
  traefik:
    image: traefik:v2.5
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.example.com`)"
      - "traefik.http.routers.traefik.entrypoints=web,websecure"
      - "traefik.http.routers.traefik.service=api@internal"

  mysql_master:
    image: mysql:8.0
    env_file:
      - ./master/mysql_master.env
    container_name: "mysql_master"
    restart: "no"
    ports:
      - 3306:3306
    volumes:
      - ./master/conf/mysql.conf.cnf:/etc/mysql/conf.d/mysql.conf.cnf
      - ./master/data:/var/lib/mysql
    networks:
      - traefik
      - overlay
    depends_on:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mysql_master.rule=Host(`mysql-master.example.com`)"
      - "traefik.http.routers.mysql_master.entrypoints=web"
      - "traefik.http.services.mysql_master.loadbalancer.server.port=3306"

  flaskapp_master:
    build:
      context: ./master
    container_name: "flaskapp_master"
    restart: "no"
    expose:
      - "5000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flaskapp_master.rule=Host(`flaskapp-master.example.com`)"
      - "traefik.http.routers.flaskapp_master.entrypoints=web"
      - "traefik.http.services.flaskapp_master.loadbalancer.server.port=5000"
    networks:
      - traefik
      - overlay
    depends_on:
      - traefik
      - mysql_master
  mysql_slave:
    image: mysql:8.0
    env_file:
      - ./slave/mysql_slave.env
    container_name: "mysql_slave"
    restart: "no"
    ports:
      - 3307:3306
    depends_on:
      - traefik
      - mysql_master
    volumes:
      - ./slave/conf/mysql.conf.cnf:/etc/mysql/conf.d/mysql.conf.cnf
      - ./slave/data:/var/lib/mysql
    networks:
      - traefik
      - overlay
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mysql_slave.rule=Host(`mysql-slave.example.com`)"
      - "traefik.http.routers.mysql_slave.entrypoints=web"
      - "traefik.http.services.mysql_slave.loadbalancer.server.port=3306"

  flaskapp_slave:
    build:
      context: ./slave
    container_name: "flaskapp_slave"
    restart: "no"
    expose:
      - "5000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flaskapp_slave.rule=Host(`flaskapp-slave.example.com`)"
      - "traefik.http.routers.flaskapp_slave.entrypoints=web"
      - "traefik.http.services.flaskapp_slave.loadbalancer.server.port=5000"
    networks:
      - traefik
      - overlay
    depends_on:
      - traefik
      - mysql_master

networks:
  traefik:
    external: true
  overlay:
