version: "3"

services:
  redis:
    container_name: redis
    image: "redislabs/redismod:latest"
    ports:
      - 6379:6379
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - my-network

  mysql_master:
    image: mysql:8.0
    env_file:
      - ./master/mysql_master.env
    container_name: "mysql_master"
    restart: "no"
    ports:
      - 3306:3306
    volumes:
      - ./master/conf/mysql.conf.cnf:/etc/mysql/conf.d/mysql.conf.cnf
      - ./master/data:/var/lib/mysql
    networks:
      - my-network
    labels:
      - "traefik.http.routers.mysql_master.rule=Host(`mysql-master.example.com`)"

  flaskapp_master:
    build:
      context: ./master
    image: master-service-flask
    environment:
      - FLASK_APP=flaskapp_master.py
    ports:
      - "5000"
    networks:
      - my-network
    labels:
      - "traefik.http.routers.master.rule=Host(`master.localhost`) && PathPrefix(`/api`)"
    depends_on:
      - mysql_master

  express-app:
    build:
      context: ./express-app
    restart: "no"
    image: "express-app"
    expose:
      - "3000"
    ports:
      - "3000:3000"
    labels:
      - "traefik.http.routers.express-app.rule=Host(`dujetim.test`) && PathPrefix(`/express`)"
    depends_on:
      - flaskapp_master
      - mysql_master
    networks:
      - my-network

  sport-store:
    build:
      context: ./sport-store
    image: "sport-store"
    expose:
      - "5173"
    ports:
      - "5173:5173"
    labels:
      - "traefik.http.routers.sport-store.rule=Host(`dujetim.test`) && PathPrefix(`/vue`)"
    volumes:
      - ./sport-store:/app
      - /app/node_modules
    depends_on:
      - express-app
    networks:
      - my-network

  reverse-proxy:
    image: traefik:v2.10
    # Enables the web UI and tells Traefik to listen to docker
    command: --api.insecure=true --providers.docker
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    networks:
      - my-network
    depends_on:
      - flaskapp_master
      - mysql_master

networks:
  my-network:
    driver: bridge
